* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
 
  html {
    font-size: 62.5%;
    background-color: #0075a8;
  }
  input:checked + label {
    color: black;
  }
  .ciclo {
    display: none;
  }
  .nuevos {
    width: 175px;
    border-radius: 5px;
  }
  .cartera {
    width: 180px;
    border-radius: 5px;
  }
  .decos {
    width: 155px;
    border-radius: 5px;
  }
  .premium {
    width: 200px;
    border-radius: 5px;
  }
  .rvo {
    width: 185px;
    border-radius: 5px;
  }
  .extras {
    width: 75px;
    border-radius: 5px;
  }
  h4{
    color: yellow;
    background-color: black;
    width: 195px;
  }
  button {
    width: 70px;
    height: 25px;
    font-size:medium;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }
  #boton {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 4px;
    border-radius: 4px;
    font-weight: 800;
    margin-top: 5px;
  }
  .enlace {
    text-decoration: none;
    color: black;
    /* background-color: white; */
    padding: 4px;
    border-radius: 4px;
    font-weight: 500;
    margin-top: 5px;
  }
  input[type="radio"] {
      background-color: black;
      width: 17px;
      height: 17px;
  }
  input[type="checkbox"] {
    background: black;
    width: 20px;
    height: 20px;
    }
    
  .container {
    display: flex;
    flex-wrap: wrap;
    background-color: #0075a8;
    color: white;
    font:bolder;
    
  }

  #modo {
    color: white;
  }
 


  #texto {
    width: 100%;
    height: 100px;
    font: bolder;
    font-weight: 800;
    font-size: large;
    border-radius: 5px;
}  
.tituloCopy{
  background-color: black;
  color: white;
  border-radius: 4px;
  padding: 2px;
 }
 .Extra{
   border-radius: 4px;
 }
.rvpEspacio{
  position: absolute;
  left: 245px;  
}
.cheEspacio{
  position: absolute;
  left: 220px;
}
#sugerencia{
  font-size: 13px;
}
.Extra {
  width: 60px;
}
  .c1,
  .c2,
  .c3,
  .c4,
  .c5,
  .c6,
  .c7,
  .c8 {
    width: 100%;
    min-width: 15rem;
    height: auto;
    font-size: x-large;
    padding-left: 20px;
    padding-top: 10px;
    border: 2px groove white;  
      }
  @media (max-width: 600px) {
    .nuevos {
      width: 200px;
    }
    .cartera {
      width: 200px;
    }
    .decos {
      width: 185px;
    }
    .premium {
      width: 235px;
    }
    .rvo {
      width: 225px;
    }
    .extras {
      width: 90px;
    }
    .flotante{
      position: fixed;
      top: 370px;
      right: 5px;
    }
    .flotanteButton{
      position: fixed;
      top: 400px;
      right: 5px;
    }
    #resultado {
      color: black;
      font-weight: bolder;
    }
    .c1 {
      order: 2;
    }
    .c2 {
      order: 1;
    }
    .c3 {
      order: 4;
    }
    .c4 {
      order: 3;
    }
    .c5 {
      order: 5;
    }
    .c6 {
      order: 6;
      }
    .c7 {
      order: 7;
      } 
    .c8 {
      order: 8;
    }  
  }
  @media (min-width: 600px) {
    .c1 {
      width: 50%;
    }
    .c2 {
      width: 50%;
    }
    .c3 {
      width: 100%;
    }
    .c4 {
      width: 100%;
    }
    .c5 {
      width: 100%;
    }
    .c6 {
        width: 100%;
    }
    .c7 {
      width: 50%;
  }
  .c8 {
    width: 50%;
  }
  }
  @media (min-width: 800px) {
    .c1 {
      width: 30%;
    }
    .c2 {
      width: 30%;
    }
    .c3 {
      width: 40%;
    }
    .c4 {
      width: 30%;
    }
    .c5 {
      width: 30%;
    }
    .c6 {
        width: 40%;
    }
    .c7 {
        width: 50%;
    }    
    .c8 {
        width: 50%;
    }      
  }
  
  #fac0 {
    color: red;
  }